.content {
  grid-area: content;
}

.wrap {
    width: auto;
    margin-top: -140px;
    position: relative;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.post{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.addPost {
  display: flex;
  background: white;
  width: fit-content;
  padding: 10px;
  position: relative;
  border: none;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2)
}

textarea {
  border: none;
  display: block;
  width: 400px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  transition: all 0.4s ease;
  resize: none;
  outline: none;
  padding: 10px 20px;
}

button {
  top: 50%;
  right: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  padding: 11px 25px;
  margin-right: 13px;
  border-radius: 40px;
  background-color: #dc4734;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none;
}

.postItem {
  padding-left: 10px;
  background-color: white;
  transition: all 0.4s ease;
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  width: 450px;
}

.item {
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img{
  display: flex;
  align-items: center;
}

.img img{
  width: 11px;
  height: 10px;
  margin-right: 5px;
}

.ava a {
  display: block;
}

.ava img {
  width: 220px;
  height: 220px;
  border: 10px solid #fff;
  top: 0;
  left: 0;
}

