.nav {
  background-color: #83b3b5;
  grid-area: nav;
  padding-top: 32px;
  min-width: 200px;
}
.nav ul{
  list-style-type: none;
  margin: 0;
}
.item {
  color: white;
}
.item.active {
  color: blue;
}