.nav {
  background-color: white;
  grid-area: nav;
  min-width: 220px;
  width: 100%;
  padding: 21px 0;
}

.nav ul{
  list-style-type: none;
  margin: 0;
}

.nav ul li {
  margin-bottom: 5px;
}

.item {
  color: #333333;
  font-weight: 700;
}

.item.active {
  color: #dc4734;
}