a{
  text-decoration: none;
}
.page{
  display: grid;
  grid-template-rows:  min-content auto;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:  "header header"
                        "nav content";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #f1f1f1;
}






