.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogItem {
    padding: 10px;
    border: 1px solid #6df5da;
}

.dialog {
    padding: 10px;
}
.dialog a {
    color: #000;
}

.dialog.active {
    border: 1px solid #6df5da;
    background: rgba(12, 243, 197, 0.26);;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
    border: 1px solid #6df5da;
}
.messageSend {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    padding: 10px;
    position: relative;

}